div.boo_post_control {
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/boo.png');
    text-align: left;
    display: inline-block;
    position: relative;
    height: 15px;
    width: 45px;
    margin: 10px 0 15px 12px;
    opacity: .35;
    cursor: pointer;
}

div.boo_post_div {
    border: 1px;
    height: 45px;
    text-align: center;
    background-color: #335577;
    margin: 20px 0 20px 0;
    border-radius: 5px;
    color: #aaaaaa;
}

li.boo_post_li {
    box-shadow: 3px 3px 3px black;
}

p.boo_post_p {
    color: #aaaaaa;
    font-style: italic;
    font-family: "Verdana";
    padding-top: 10px;
    cursor: pointer;
}
